
.container-fluid {
  background-color: #cfd8dc;
  min-height: 720px;
}

h1 {
  margin-bottom: 10px;
}

.searchBox {
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #90A4AE;
  padding-bottom: 30px;
}

.panel {
  margin: 10px;
  padding: 15px;
  padding-top: 5px;;
  text-align: left;
  background-color: #B0BEC5;
  border: none;
}

h4 > a{
  font-weight: 600;
  color: #0D47A1;
  margin-top: 0;
}

.pagerSection {
    margin-top: 25px;
}
