.box {
  margin-top: 20px;
  margin-bottom: 70px;
}

button {
    color: #000;
}

h1 {
  margin-bottom: 30px;
}

.panel {
  margin: 10px;
  padding: 15px;
  text-align: left;
}

h4 {
  font-weight: 600;
  margin-top: 0;
}
